doctype strict
html(lang="en")
  head
    meta(charset="utf-8")
    title Why
    link(rel="stylesheet" href="./main.css")
  body
    center
      h1.title Sorry, come back soon
      div This page is under construction
